streamlit==1.53.1
openai==2.15.0
mcp
python-dotenv
pydantic
apscheduler
colorlog
orjson
agno
fastapi
uvicorn
langchain==1.2.7
langchain-core==1.2.7
finnhub-python
langchain_groq==1.1.1
websockets
yfinance
qdrant_client==1.16.2
langgraph==1.0.7

# Infrastructure
redis==7.2.0
psycopg2-binary==2.9.11
loguru
httpx